## Forecasting using Time Series Analysis (FuTSA '23)

- #####  Welcome to your first assignment. In this assignment, you would be applying the techniques that you would have (hopefully) learnt by now. If not, we suggest you to quickly complete the [suggested material](https://docs.google.com/document/d/1Q6nH_zP2caOInPJDUPzr_RF88-IQEmnyQ0hRBosY9lo/edit?usp=sharing) ASAP and then move to this assignment. 
- ##### This Assignment is ungraded, and is meant for your practice. Although we would suggest you to make a github repository for this project, where you could document your progress (a good way to learn GitHub flavored Markdown) and push your assignment solutions there.



### 1) Import Pandas

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

#### Import the dataset from this url (https://raw.githubusercontent.com/FuTSA23/time-series-analysis-datasets/main/ungraded_1.user).

### 3) Display the first 25 entries

### 4) Display the last 10 entries

### 5) What is the number of observations in the dataset?

### 6) What is the number of columns in the dataset, also print the name of all the columns?

### 7) What is the data type of each column?

### 8) Print only the occupation column

### 9) How many different occupations are in this dataset?

### 10) What is the most frequent occupation?

### 11) Summarize the DataFrame.

### 12) Summarize only the occupation column

### 13) What is the mean age of users?

### 14) What is the age with least occurrence?